#participants-page{
    
}

.no-participants{
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.participant-info {
    width: 350px;
    padding-bottom: 20px;
}

.participant-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 1100px;
    margin: auto;
    flex-wrap: wrap;
}

.participant-display{
    font-size: 19px;
    padding-bottom: 5px;
}

.ticket-number{
    text-decoration-line: underline;
    font-weight: bold;
    font-size: 22px;
}