*{
    text-decoration: none;
    color: black;
    transition: all 0.2s ease;
}

.title{
    font-size: 50px;
    display: flex;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    background-color: black;
    color: white;
    width: 100vw;
}

.subtitle{
    font-size: 24px;
    display: flex;
    background-color: black;
    color: white;
    width: 43vw;
    justify-content: center;
    border-radius: 40px;
    padding: 15px 20px 15px 20px;
}

.navbar{
    display: flex;
    text-align: center;
    /* margin: 25px 0; */
    margin-bottom: 25px;
    justify-content: center
}

.navbar-items{
    padding: 0px 10px;
}

.subtitle{
    justify-content: center;
    margin: 25px auto;
}